PORT=3000
FRONTEND_ORIGIN=http://localhost:5173
AUTH0_DOMAIN=itecsa-sistema.us.auth0.com
AUTH0_AUDIENCE=https://api.itecsa.local
AUTH0_MANAGEMENT_CLIENT_ID=b3jWfQOqDUVzavdm5CpgE5fUvwK8N5gT
AUTH0_MANAGEMENT_CLIENT_SECRET=
AUTH0_DATABASE_CONNECTION=Username-Password-Authentication
AUTH0_PASSWORD_RESET_CLIENT_ID=hBE18LPJgcYqI0WpiZxpLgT9sygDHTHm
